<%= form_for [ chat_room, Message.new ], remote: true do |form| %>
<table class="table">
	<tr>
		<td><%= form.text_area :body, class:'form-control' %></td>
		<td><%= form.submit 'Enter', class: 'btn btn-lg btn-primary' %></td>
		<tr>
		</table>
		<% end %>
