<div class="container">
	<br>

	<div><a href="javascript:history.back()" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></div>
	<br>
	<div class="panel panel-default">
		<br>
		<%= render 'messages/messages', chat_room: @chat_room %>

	</div>
</div>
