<!-- <center><h1>New Bidder</h1></center> -->
<center><h1>New User</h1></center>

<%= render 'form', bidder: @bidder %>

<center><a href="javascript:history.back()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></center>
