
<%= simple_form_for(@state) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, as: :select, collection: ["On", "Off"], include_blank: false %>
  </div>

<br>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
<br>
<% end %>
