<center>
  <div class="container">
    <br>
    <div class="row"><div class="col-lg-3"></div><div class="col-lg-9"><h1>About Us</h1></div></div>
    <br>
    <div class="row">
      <div class="col-lg-5">
        <img src="<%= image_url('http://labourware.com/wp-content/uploads/2016/02/L-Logo.jpg') %>" alt="logo" width="200px"/>
      </div>
      <div class="col-lg-6">
        <p>
          Welcome to Localhost Farm, home of "The Most Addictive Auctions On The Internet!"  Our auctions work a little bit differently - but once you’ve bid and won a few items, we know you’ll love them!
          <br>
          <br>
          How it works:
          <br>
          1.  All items on Localhost Farm are Brand New Fresh.
          <br>
          2.  Every time a bid is placed the starting price on the item will decided by the farm broker.
          <br>
          3.  When the Countdown clock gets to Zero, whoever is the bidder that placed the final bid, wins the auction!
          <br>
          4.  There is a small charge for each bid, which allows us to offer the most awesome deals on the internet!
          <br>
          5.  Safe and ethical entertainment shopping site.
          <br>
          6.  Fast and safe delivery services
          <br>

          <br>
          <strong>Company Overview</strong>
          <br>
          Localhost Farm is an innovative and exciting auction site in Malaysia. We sell fresh products from the farms like vegetables, fruits, flowers, meat, grain, poultry, dairy product and seafood.
          <br>

        </p>
      </div>
    </div>
  </div>
</center>
