<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-9">
      <h1>About Us</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <img src="<%= image_url('logo-farm.png') %>" alt="logo" width="200px"/>
    </div>
    <div class="col-lg-9">
      <p>
Welcome to ElitelivestockAuction.com.my, home of "The Most Addictive Auctions On The Internet!"  Our auctions work a little bit differently - but once you’ve bid and won a few items, we know you’ll love them.
<br>
<br>
There’s a few key things that are different from other auctions you might have used online:
<br>
So let's take a look at how it works:
<br><br>
1.  All of the Items on ElitelivestockAuction.com.my are Brand New and come with the full Manufacturers Warranty.
<br>
2.  Each item starts with a a Bidding Price of just 1 cents.  There is no reserve price for the auctions.
<br>
3.  Every time a bid is placed the price on the item goes up just 1 cents!
<br>&nbsp;&nbsp;&nbsp;&nbsp;When a bid is placed in the last few minutes of an auction, we extend the auction time.
<br>
4.  When the Countdown clock gets to Zero, whoever is the bidder that placed the final bid, wins the auction and can now<br>&nbsp;&nbsp;&nbsp;&nbsp;purchase the item with the low price !  Check out The Awesome Deals People Are Getting on the winners page!
<br>
5.  There is a small charge for each bid, which allows us to offer the most awesome deals on the internet!
<br>
6.  Safe and ethical entertainment shopping site.
<br>
7.  Fast and safe delivery services
<br>

<br>
<strong>Company Overview</strong>
<br>
EliteLivestocksAuction.com.my is an innovative and exciting auction site in Malaysia. We sell new branded products like camera, laptops, TV's, various IT gadgets and even more at very low prices.
<br>
EliteLivestocksAuction.com.my (Malaysia) is operated by Hong Aqua Shop, with its operation office located in Malaysia.
<br>
For more information, please e-mail us at  support@bid2u.my.
<br>
<br>

</p>
    </div>
  </div>
</div>
