<center>
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9"></div>
    <h1>Contact Us</h1>
  </div>
  <br>
  <div class="row">
   <div class="col-lg-5"><img src="<%= image_url('http://labourware.com/wp-content/uploads/2016/02/L-Logo.jpg') %>" alt="logo" width="200px"/></div>
    <div class="col-lg-6">
      <h4>Address:</h4>
      L.F. LOCALHOST SDN BHD (No.123456)
      <br>
      NO 29-2, TINGKAT 2, JALAN TUKUL N15/N,
      <br>
      SEKSYEN 15, 40200 SHAH ALAM, 
      <br>
      SELANGOR, MALAYSIA.
      <br>

      <h4>Contact:</h4>
      012-3456789
      <br>
      Email: hello@localhostfarm.my
      <br>
      <br>
    </div>

  </div>
</div>
</center>