<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><center><h1>Contact Us</h1></center></div>
  </div>
  <br>
  <div class="row">
   <div class="col-lg-2">
     <center>
       <img src="<%= image_url('create_thumb')%>"  alt="logo" width="200px"/>
     </center>
   </div>
   <div class="col-lg-2"></div>
   <div class="col-lg-4">
    <center>
      <br/>
      <br/>
      <h4>Address:</h4>
      TaniMac Co.(@Waldania Group)
      <br>
      BLOCK 3730,PERSIARAN APEC,
      <br>
      63000 CYBERJAYA,
      <br>
      SELANGOR, MALAYSIA.
      <br>
    </center>
  </div>

  <div class="col-lg-4">
    <center>
     <br/>
     <br/>
     <h4>Contact:</h4>
     Phone :  <br>
     +6012-5903983 (Ridzuan) <br>
     +6013-4015799 (Fitri) 
     <br>
     Email : customersupport@tanimac.com
     <br>
     <br>
   </center>
 </div>

</div>
</div>
