<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Step 1: Choose your District & Role</h2>
      <br>
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <th>District</th>
              <th colspan="2">Register As</th>
            </tr>
              <% @districts.each do |district| %>
            <tr>
              <td><%= district.name %></td>
              <td><a href="#" >Broker</a></td>
              <td><a href="#" >Bidder</a></td>
            </tr>
            <%end%>
          </table>
      </div>
    </div>
  </div>
</div>
