<div id="maincontainer">
  <br><br><br>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= render 'search' %>
    </div><!-- Close Column -->
  </div><!-- Close Row -->
      <!-- Text -->
  <marquee behavior="alternate" scrollamount="10" direction="up">
    <center>
      <h1 style="font-family:Georgia"> ~ Welcome to TaniMall ~ </h1>
      <p><font size="5" color="white">Sign Up and Join Us Now!</font></p>
    </center>
  </marquee>
</div>