<div class="container">
  <br>
<div class="row">
<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">People</div>
  <div class="panel-body">
    <table class="table">
    <% @users.each do |user|%>
    <% if (current_user.id != user.id) %>
    <tr>
      <td><%= user.name%></td>
      <td><a class="btn btn-success" href="<%= friendships_path(:friend_id => user.id)%>" data-method="<%= :post %>">Follow</a></td>
    </tr>
    <%end%>
    <%end%>
  </table>
  </div>
</div>
</div>
<div class="col-xs-6">
  <% for user in current_user.friends %>
  <p><%= user.name %></p>
  <%end%>
</div>

</div>
</div>
