<center><h1>New Farmer</h1></center>

<%= render 'form', farmer: @farmer %>

<center><a href="javascript:history.back()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></center>
