<center><h1>New Broker</h1></center>

<%= render 'form', broker: @broker %>

<center><a href="javascript:history.back()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></center>

